<ListView [items]="items" width="100%" class="list-group" height="450" separatorColor="transparent">
        <ng-template let-item="item">
                <GridLayout rows="auto,auto,auto,*" columns="auto,auto,auto,auto,auto,*">
                        <Image row="0" col="0" rowSpan="4" src="http://lorempixel.com/400/200/" stretch="fill" backgroundColor="gray" verticalAlignment="top"
                                height="60" width="60" borderRadius="60"></Image>
                        <Label row="0" col="1" colSpan="4" class="material-icon star-style" text="&#xE838;&#xE838;&#xE838;&#xE838;&#xE838;" textWrap="true"></Label>
                        <Label row="1" col="1" colspan="4" [text]="item.name" class="label-second" textWrap="true"></Label>
                        <Label row="2" col="1" [text]="item.subTitle" class="label-third" textWrap="true"></Label>
                        <Label row="2" col="2" text="&#xE061;" class="material-icon dot-icon" textWrap="true"></Label>
                        <Label row="2" col="3" text="&#xE227;&#xE227;" class="material-icon currancy1-icon" textWrap="true"></Label>
                        <Label row="2" col="4" text="&#xE227;&#xE227;" class="material-icon currancy2-icon" textWrap="true"></Label>
                        <Label row="3" col="1" colspan="3" text="+ Create event" marginBottom="38" class="create-event" verticalAlignment="center"
                                horizontalAlignment="left" textWrap="true"></Label>
                </GridLayout>
        </ng-template>
</ListView>