<StackLayout orientation="vertical" backgroundColor="#F6F7F8">
    <AbsoluteLayout width="100%" height="40%">
        <GridLayout width="100%" height="100%">
            <!-- MapView start -->
            <StackLayout>
                <AbsoluteLayout width="100%">
                    <MapView #mapView height="100%" width="100%" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" i-padding="50,50,50,50"
                        [padding]="padding" (mapReady)="onMapReady($event)">
                    </MapView>
                    <CardView elevation="6"  margin="24 12 11 12" class="search-container" backgroundColor="white">
                        <StackLayout orientation="horizontal">
                            <StackLayout orientation="horizontal" width="100%" height="100%" backgroundColor="white">
                                <Label class="material-icon font-style" verticalAlignment="center" text="&#xE8B6;" textWrap="true"></Label>
                                <Label class="try-burger" text="Try << Burger >>" verticalAlignment="center"></Label>
                            </StackLayout>
                        </StackLayout>
                    </CardView>
                </AbsoluteLayout>
            </StackLayout>
            <!-- MapView End -->
        </GridLayout>
    </AbsoluteLayout>
    <StackLayout verticalAlignment="bottom">
        <ScrollView>
            <StackLayout padding="30 0 0 20" width="100%" horizontalAlignment="left">
                <GridLayout rows="auto,auto,auto" columns="auto,auto,auto,auto,auto">
                    <Image row="0" col="0" rowSpan="4" src="http://lorempixel.com/400/200/sports/Dummy-Text/" stretch="fill" backgroundColor="gray"
                        height="60" width="60" borderRadius="60"></Image>
                    <Label row="0" col="1" colSpan="4" class="material-icon star-style" text="&#xE838;&#xE838;&#xE838;&#xE838;&#xE838;" textWrap="true"></Label>
                    <Label row="1" col="1" colspan="4" text="California Soul Kitchen" class="label-second" textWrap="true"></Label>
                    <Label row="2" col="1" text="ORGANIC, HEALTHY, FISH" class="label-third" textWrap="true"></Label>
                    <Label row="2" col="2" text="&#xE061;" class="material-icon dot-icon" textWrap="true"></Label>
                    <Label row="2" col="3" text="&#xE227;&#xE227;" paddingRight="0" marginRight="0" class="material-icon currancy1-icon" textWrap="true"></Label>
                    <Label row="2" col="4" text="&#xE227;&#xE227;" class="material-icon currancy2-icon" textWrap="true"></Label>
                </GridLayout>
                <StackLayout>
                    <ScrollView orientation="horizontal">
                        <ns-card-view></ns-card-view>
                    </ScrollView>
                </StackLayout>
                <StackLayout marginBottom="50" height="auto">
                    <ns-restaurant-list></ns-restaurant-list>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</StackLayout>