.search-container{
    /* padding: 8 8 8 0 ; */
    font-size: 18;
    width: 92%;
    height: auto;
    color: black;
}

.try-burger {	
    color: #7F8089;	
    font-family: "Poppins-Regular";	
    font-size: 13;	
    line-height: 21;
    margin-left:35;
    padding-Top:13;
    padding-bottom: 11;
}

.font-style{
    font-size: 13;	
    padding-left:20;
    color: #7F8089;	
}

.star-style{
    color:#FD9802;
    margin-left:18;
}

.label-second{
    color: #333344;	
    font-family:"Poppins-Regular";
    font-size: 15;	
    font-weight: 500;	
    line-height: 25;
    margin-left:18;
}

.label-third{
    color: #7F8089;	
    font-family:"Poppins-Regular";
    font-size: 12;	
    line-height: 19;
    margin-left:18;
}

.dot-icon{
    color: #D8D8D8;
    margin-top:4;
    margin-left:9;
    font-size: 7;
}

.currancy1-icon{	
    margin-top:2;
    margin-left:9;
    padding:0;
    color: #A3A5AB;	
    font-size: 12;	
    font-weight: 300;	
    line-height: 19;
}

.currancy2-icon{	
    margin-top:2;
    color: #D3D3D3;	
    font-size: 12;	
    font-weight: 300;	
    line-height: 19;
}



.create-event {	
    margin-left:18;
    width:34%;
    color: #FFFFFF;
    background-color: #FD9802;
    font-family:"Poppins-Regular";	
    font-size: 13;	
    padding-left:12;
    padding-right: 12;
    padding-top:4;
    padding-bottom: 3;
    border-radius: 20;
}