<StackLayout paddingTop="24" marginBottom="41" orientation="horizontal" marginLeft="2">

    <CardView elevation="4" class="mask" backgroundColor="white">

        <StackLayout>
            <GridLayout rows="auto,auto,auto,auto" columns="auto,auto">
                <Image row="0" col="0" colSpan="2" src="http://lorempixel.com/400/200/" stretch="fill" backgroundColor="gray" height="41%" width="100%"></Image>
                <Label row="1" col="0" colSpan="2" text="Soul Dinner" class="soul-dinner" textWrap="true"></Label>
                <Label row="2" col="0" colSpan="2" text="John Black" class="john-black" textWrap="true"></Label>
                <Image row="3" col="0"  src="http://lorempixel.com/400/200/" stretch="fill" backgroundColor="gray" horizontalAlignment="right" height="29" width="29" borderRadius="29"></Image>
                <Image row="3" col="1"  src="http://lorempixel.com/400/200/" stretch="fill" backgroundColor="gray" horizontalAlignment="left" marginLeft="5" height="29" width="29" borderRadius="29"></Image>
            </GridLayout>
        </StackLayout>
    </CardView>

    <CardView elevation="4" class="mask"  backgroundColor="white">

        <StackLayout>
            <GridLayout rows="auto,auto,auto,auto" columns="auto,auto">
                <Image row="0" col="0" colSpan="2" src="http://lorempixel.com/400/200/" stretch="fill" backgroundColor="gray" height="41%" width="100%"></Image>
                <Label row="1" col="0" colSpan="2" text="Soul Dinner" class="soul-dinner" textWrap="true"></Label>
                <Label row="2" col="0" colSpan="2" text="John Black" class="john-black" textWrap="true"></Label>
                <Image row="3" col="0"  src="http://lorempixel.com/400/200/" stretch="fill" backgroundColor="gray" horizontalAlignment="right" height="29" width="29" borderRadius="29"></Image>
                <Image row="3" col="1"  src="http://lorempixel.com/400/200/" stretch="fill" backgroundColor="gray" horizontalAlignment="left" marginLeft="5" height="29" width="29" borderRadius="29"></Image>
            </GridLayout>
        </StackLayout>
    </CardView>

    <CardView elevation="4" class="mask"  backgroundColor="white">

        <StackLayout>
            <GridLayout rows="auto,auto,auto,auto" columns="auto,auto">
                <Image row="0" col="0" colSpan="2" src="http://lorempixel.com/400/200/" stretch="fill" backgroundColor="gray" height="41%" width="100%"></Image>
                <Label row="1" col="0" colSpan="2" text="Soul Dinner" class="soul-dinner" textWrap="true"></Label>
                <Label row="2" col="0" colSpan="2" text="John Black" class="john-black" textWrap="true"></Label>
                <Image row="3" col="0"  src="http://lorempixel.com/400/200/" stretch="fill" backgroundColor="gray" horizontalAlignment="right" height="29" width="29" borderRadius="29"></Image>
                <Image row="3" col="1"  src="http://lorempixel.com/400/200/" stretch="fill" backgroundColor="gray" horizontalAlignment="left" marginLeft="5" height="29" width="29" borderRadius="29"></Image>
            </GridLayout>
        </StackLayout>
    </CardView>
</StackLayout>