.mask {
    height: 171;	
    width: 154;	
    border-radius: 2;
    margin-right: 15;
    margin-bottom: 4;
    background-color: #FFFFFF;
}

.soul-dinner {	
    margin-top: 8;
    color: #333344;
    font-family:"Poppins-Regular";
    font-size: 15;	
    font-weight: 500;	
    line-height: 25;
    text-align: center;
}

.john-black {	
    color: #7F8089;	
    font-family:"Poppins-Regular";
    font-size: 12;	
    line-height: 19;
    text-align: center;
}